@model Entities.DTOs.ExamDto

@{
    ViewBag.Title = "Create";
}




<div class="col-12 ">
                         @if (ViewBag.Error != "" && ViewBag.Error != null)
                        {
                            if (ViewBag.Success != true)
                            {
                                <div class="row">
                                    <div class="alert alert-danger">
                                        <strong>@ViewBag.Error</strong>
                                    </div>

            </div>
        }
    }
    else
    {
            <h2 id="header">Choose Subject For Exam</h2>
    }

    <div id="exam-panel">
        <div id="title-list" class="list-group">

            @if (ViewBag.RSSFeed != null)
            {
                foreach (var item in ViewBag.RSSFeed)
                {
                    <a data-title="@item.Title" class="list-group-item title-item">@item.Title</a>
                }
            }

        </div>
    </div>
</div>
<script src="~/js/jquery-1.10.2.min.js"></script>
<script>



    $(".title-item").click(function () {

        var a = $(this).data("title");
        $(this).addClass("active");


        $("#title-list").html($(this));
        $.ajax({

            type: "post",
            url: '@Url.Action("GetExamCreateView", "Exam")',
            data: { title: a },
            datatype: "json",
            success: function (data) {
                if (data != null) {


                   var temp = $("#exam-panel").html();
                   var newDiv = temp + data;
                   $("#exam-panel").html(newDiv);



                }


            },
            error: function () {
                alert("Something Happened ):");
            }

        });
    });

</script>


